/* Style for alternate row coloring */
.ag-row-even {
  background-color: #f2f2f2; /* Or any color of your choice for even rows */
}
.ag-row-odd {
  background-color: #ffffff; /* Or any color of your choice for odd rows */
}

.ag-theme-alpine {
  --ag-header-height: 30px;
  --ag-header-foreground-color: white;
  --ag-header-background-color: #a4cb9d;
  --ag-header-cell-hover-background-color: #388e3c;
  --ag-header-cell-moving-background-color: #388e3c;
}

/* Change the font color of the header */
.ag-header-cell-label {
  color: black; /* Replace with your preferred color */
}